# Backup files and system temporaries
*~
.*.swp
*.swo

# compiled files and distribution files
*.pyc
/build
*.o
/libadcc.*.so
/libadcc.*.dylib
/dist
*.egg-info
/.eggs
/siteconfig.py

# Testing
.pytest_cache
.coverage

# Jupyter
.ipynb_checkpoints/

# psi4
timer.dat
*.clean
