# Backup files and system temporaries
*~
.*.swp
*.swo

# compiled files and distribution files
*.pyc
/libadcc.*.so
/libadcc.*.dylib
/dist
*.egg-info
*.o
/.eggs

# Pytest
.pytest_cache

# adccore
/extension/adccore/
/adccore
