# Backup files and system temporaries
*~
.*.swp
*.swo

# compiled files and distribution files
*.pyc
/build
*.o
/libadcc.*.so
/libadcc.*.dylib
/dist
*.egg-info
/.eggs

# Testing
.pytest_cache

# adccore
/extension/adccore/
/adccore
