# Exclude test stuff
exclude adcc/tests/**
include adcc/tests/smoke_test.py
# add examples etc for sdist
recursive-include libadcc *
recursive-include examples *
recursive-include docs *
recursive-include scripts *
