name: CI
on:
  push:
    branches: [master]
  pull_request:
  schedule:
    - cron:  '0 4 * * 6'  # Run every Sunday

jobs:
  #
  # Unit tests
  #
  test:
    name: Python ${{ matrix.version }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - {version: '3.6', os: ubuntu-latest}
          - {version: '3.8', os: ubuntu-latest}
          - {version: '3.6', os: macOS-10.14  }
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.version }}
      - uses: actions/cache@v1
        env:
          cache-name: cache-artifacts
        with:
          path: |
            ~/.cache/pip
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/setup.py') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - name: Install system dependencies on Linux
        run: sudo apt-get install libopenblas-base
        if: contains( matrix.os, 'ubuntu')
      - name: Install python dependencies
        run: |
          python -m pip install --user pyscf cppe wheel
          python -m pip install --user -r requirements.txt
      - name: Run tests
        run: python setup.py test -a '--cov=adcc'
      - name: Upload coverage
        run: |
          pip install coveralls
          coveralls
        env: GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #
  # Test source code formatting
  #
  formatting:
    name: Code style
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Install dependencies
        run: pip install flake8
      - run: flake8
